extends ./layout/layout

block content
  .content-wrapper(ng-controller='GoodCtrl')
    .container
      .row(style='padding-top:120px;')
        .col-md-3
          .box.box-info
            .box-body.box-profile
              img.profile-user-img.img-responsive.img-circle(src='/avatar/avatar.jpg', alt='User profile picture')
              h3.profile-username.text-center 小强
              //p.text-muted.text-center #{id}
              ul.list-group.list-group-unbordered
                li.list-group-item
                  b 贩卖商品
                  a.pull-right 1,322
                li.list-group-item
                  b 收获喜欢
                  a.pull-right 543
          .box.box-info
            .box-header.with-border
              h3.box-title 关于此商品
            .box-body
              strong
                i.fa.fa-book.margin-r-5
                |  名称
              p.text-muted
                | 商品详情测试商品详情测试商品详情测试商品
              hr
              strong
                i.fa.fa-btc.margin-r-5
                |  价格
              p.text-muted 180
              hr
              strong
                i.fa.fa-map-marker.margin-r-5
                |  交易地
              p.text-muted Malibu, California
              hr
              strong
                i.fa.fa-phone.margin-r-5
                |  联系方式
              p
                | 180100xxxxx
              hr
              strong
                i.fa.fa-pencil.margin-r-5
                |  标签
              p
                span.label.label-info 商品
                span.label.label-info 测试
        .col-md-9
          .box.box-info
            .box-body
              .post
                .info-block
                  //- img.img-circle.img-bordered-sm(src='../../dist/img/user1-128x128.jpg', alt='user image')
                  p.title 商品详情测试商品详情测试商品详情测试商品
                  p.description Shared publicly - 7:30 PM today
                .row.margin-bottom
                  .col-sm-6
                    img.img-responsive(src='/fontend/img/eq/photo1.png', alt='Photo')
                  .col-sm-6
                    .row
                      .col-sm-6
                        img.img-responsive(src='/fontend/img/eq/photo2.png', alt='Photo')
                        br
                        img.img-responsive(src='/fontend/img/eq/photo3.jpg', alt='Photo')
                      .col-sm-6
                        img.img-responsive(src='/fontend/img/eq/photo4.jpg', alt='Photo')
                        br
                        img.img-responsive(src='/fontend/img/eq/photo1.png', alt='Photo')
                p
                  | 商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试
                  | 商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试
                  | 商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试
                  | 商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试
                  | 商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试商品详情测试
                ul.list-inline
                  li
                    a.link-black.text-sm(href='#')
                      i.fa.fa-thumbs-o-up.margin-r-5
                      |  喜欢 (5)
                  li.pull-right
                    a.link-black.text-sm(href='#')
                      i.fa.fa-comments-o.margin-r-5
                      |  评论 (5)
                input.form-control.input-sm(type='text', placeholder='输入评论')
