.reg-success{
  /*background-color: #dff0d8;
  border-color: #3c763d;*/
}
.reg-error{
  background-color: #f2dede;
  border-color: #a94442;
}
.ztree{
  border:1px solid #d2d6de;
  max-height: 400px;
  overflow: auto;
}
