ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
textarea{
  resize:vertical;
}
.content .panel {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.reg-success{
  /*background-color: #dff0d8;
  border-color: #3c763d;*/
}
.reg-error{
  background-color: #f2dede;
  border-color: #a94442;
}
.ztree{
  border:1px solid #d2d6de;
  max-height: 400px;
  overflow: auto;
}
.big-form{
  padding: 20px;
}
.big-form dl{
  margin: 0;
}
.big-form dt{
  width: 80px;
  float: left;
  line-height: 34px;
  text-align: right;
  padding-right: 10px;
  display: none;
}
.big-form input{
  border-top:none;
  border-right: none;
  border-left: none;
  padding-left:0;
  padding-right: 0;
  background: none;
}
.big-form .reg-error{
  background-color: transparent;
  border-color: #a94442;
}
.big-form .btn-default{
  border-top:none;
  border-right: none;
  border-left: none;
  background: none !important;
  margin-bottom: -1px;
  color:#ccc;
  border-color:#ccc;
  outline: none;
  box-shadow: none;
  padding-left: 0;
  border-radius: 0;
}
.big-form .open .btn-default,.big-form .open .btn-default:hover,.big-form .open .btn-default:active{
  color:#333;
  background: none !important;
  outline: none;
  border-color:#ccc;
  box-shadow: none;
}
.big-form iframe{
  border:none;
  min-height: 500px;
  height: auto;
  padding:0 0 0 0;
  border-bottom:1px solid #ccc;
}
.big-form .checkbox label{
  margin-right: 15px;
}
.big-form .tag-group{
  position: relative;
}
.big-form .tag-group ul{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.big-form .tag-group ul li{
  margin-right: 5px;
  float: left;
}
.big-form .tag-group ul li span{
  padding-left: 10px;
}
.big-form .callout{
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  margin:0 10px 0 0;
}
.tag-list{
  padding: 10px;
}
.tag-list li{
  margin-right: 10px;
  margin-bottom: 10px;
}
.webuploader-container{
  float: left;
}
.webuploader-pick{
  width: 80px;
  height: 80px;
  color: #ddd;
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.webuploader-pick i{
  font-size: 50px;
  line-height: 30px;
}
.thumbnail {
  width: 80px;
  height: 80px;
}
.thumbnail img {
  width: 100%;
  height: 100%;
}
.uploader-list {
  width: 100%;
  overflow: hidden;
}
.file-item {
  float: left;
  position: relative;
  margin: 0 15px 15px 0;
  padding: 4px;
}
.file-item i{
  display: none;
  position: absolute;
  right: -2px;
  top: -8px;
  color: #a94442;
  font-size:25px;
  cursor: pointer;
}
.file-item.success i{
  display: block;
}
.file-item .error {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  background: red;
  color: white;
  text-align: center;
  height: 20px;
  font-size: 14px;
  line-height: 23px;
}
.file-item .info {
  position: absolute;
  left: 4px;
  bottom: 4px;
  right: 4px;
  height: 20px;
  line-height: 20px;
  text-indent: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow : ellipsis;
  font-size: 12px;
  z-index: 10;
}
.upload-state-done:after {
  content:"\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 32px;
  position: absolute;
  bottom: 0;
  right: 4px;
  color: #4cae4c;
  z-index: 99;
}
.file-item .progress {
  position: absolute;
  right: 4px;
  bottom: 4px;
  height: 3px;
  left: 4px;
  height: 4px;
  overflow: hidden;
  z-index: 15;
  margin:0;
  padding: 0;
  border-radius: 0;
  background: transparent;
}
.file-item .progress span {
  display: block;
  overflow: hidden;
  width: 0;
  height: 100%;
  background: #d14 url(../images/progress.png) repeat-x;
  -webit-transition: width 200ms linear;
  -moz-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  -ms-transition: width 200ms linear;
  transition: width 200ms linear;
  -webkit-animation: progressmove 2s linear infinite;
  -moz-animation: progressmove 2s linear infinite;
  -o-animation: progressmove 2s linear infinite;
  -ms-animation: progressmove 2s linear infinite;
  animation: progressmove 2s linear infinite;
  -webkit-transform: translateZ(0);
}
@-webkit-keyframes progressmove {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 17px 0;
  }
}
@-moz-keyframes progressmove {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 17px 0;
  }
}
@keyframes progressmove {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 17px 0;
  }
}