section.content-header
  h1 #{title}
    small #{desc}
  ol.breadcrumb
    li.active
      i.fa.fa-home &nbsp;&nbsp;
      a(href='/#{pageInfo.adminDomain}/') 后台管理
      | &nbsp;&nbsp;>&nbsp;&nbsp;#{title} 
