extends common

block layout
  body
    body.skin-black.sidebar-mini
      .wrapper
        header.main-header
          a.logo(href='/')
            span.logo-mini
              b K
              | aola
            span.logo-lg
              b Kaola
              |  CMS
          nav.navbar.navbar-static-top(role='navigation')
            a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
              span.sr-only Toggle navigation
            .navbar-custom-menu
              ul.nav.navbar-nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      img.user-image(src='#{userInfo.avatar}', alt='User Image')
                      span.hidden-xs #{userInfo.nickName}
                    ul.dropdown-menu
                      li.user-header
                        img.img-circle(src='#{userInfo.avatar}', alt='User Image')
                        p 管理员
                        small #{userInfo.email}
                      li.user-footer
                        .pull-left
                          a.btn.btn-default.btn-flat(href='javascript:;')
                            i.fa.fa-gears  设置
                        .pull-right
                          a.btn.btn-default.btn-flat(href='./logout')
                            i.fa.fa-sign-out  退出
        aside.main-sidebar
          section.sidebar
            form.sidebar-form(action='/api/search', method='get')
              .input-group
                input.form-control(type='text', name='s', placeholder='Search...')
                span.input-group-btn
                  button#search-btn.btn.btn-flat(type='submit')
                    i.fa.fa-search
            ul.sidebar-menu
              li.header Main Menu
              li.treeview.active
                a(href='/admin/')
                  span 控制台
              li.treeview
                a(href='#')
                  span 商品管理 
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#')
                      i.fa.fa-file-text-o 
                      | 商品管理
                  li
                    a(href='#')
                      i.fa.fa-comments 
                      | 商品评价管理
              li.treeview
                a(href='#')
                  span 文章管理 
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#')
                      i.fa.fa-file-text-o 
                      | 文章管理
                  li
                    a(href='#')
                      i.fa.fa-comments 
                      | 文章评价管理
              li.treeview
                a(href='#')
                  span 分类管理 
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#')
                      i.fa.fa-clipboard
                      | 分类管理
                  li
                    a(href='#')
                      i.fa.fa-tag 
                      | 标签管理
              li.treeview
                a(href='#')
                  span 会员管理
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#')
                      i.fa.fa-users
                      | 注册会员列表
              li.treeview
                a(href='#')
                  span 系统管理
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#')
                      i.fa.fa-user
                      | 系统用户管理
                  li
                    a(href='#')
                      i.fa.fa-group
                      | 管理组设定
                  li
                    a(href='#')
                      i.fa.fa-file-text
                      | 文件管理器
                  li
                    a(href='#')
                      i.fa.fa-cloud
                      | 数据管理
                      i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                      li
                        a(href='#')
                          i.fa.fa-copy
                          | 数据备份
                  li
                    a(href='#')
                      i.fa.fa-clipboard
                      | 系统日志

        .content-wrapper.clearfix(style='padding-top:15px;')
          block content
        footer.main-footer
          .pull-right.hidden-xs
            i.fa.fa-user-md
            b  By.
            a(href='http://github.com/chinakids',target='_blank') @Chinakids
            |  -  
            i.fa.fa-github
            b  Fork
            a(href='http://github.com/chinakids/kaola',target='_blank') This program.
            |  -  
            i.fa.fa-exclamation-circle
            b  Report
            a(href='http://github.com/chinakids/kaola/issues',target='_blank') Thie issues.
          strong Copyright &copy; 2016-2018
          |  All rights reserved.
