div.pull-right
  form(action='./', method='get')
    div.input-group
      input#searchInput.form-control.input-sm.pull-right(type='text',name='search',style='width: 200px;', placeholder='请输入需要查询的关键字',value='')
      div.input-group-btn(style='width: auto;')
        button.btn.btn-sm.btn-default(type='submit')
          i.fa.fa-search