extends ./layout/layout
block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='ArticlesEditCtrl')
    div.col-md-12
      div.box.box-default.big-form.clearfix
        form#add
          dl.clearfix.col-md-12
            dt 标题:
            dd.form-group
              div.input-group
                div.input-group-btn
                  button.btn.btn-default.dropdown-toggle(type='button',data-toggle='dropdown',aria-haspopup='true',aria-expanded='false')
                    | {{categoryText | category}}&nbsp;
                    span.caret
                  ul.dropdown-menu
                    li(ng-repeat='item in categoriesList track by $index') 
                      a(href='javascript:;',ng-click='changeCategory(item._id)') {{item.name}}
                input.form-control(type='text',placeholder='请输入标题',reg='s',err-tip='标题 - 不可输入特殊字符或为空',ng-model='articleData.title')
          dl.clearfix.col-md-12
            dt 主图:
            dd.form-group
              uploadimg(limit='8',type='add')
          dl.clearfix.col-md-12
            dt 正文:
            dd.form-group
              editormd
          dl.clearfix.col-md-12
            dt 标签:
            dd.tag-group.form-group
              ul
                li.btn.btn-primary.btn-sm(ng-repeat='item in tag track by $index')
                  | {{item}}
                  span(ng-click='delTag($index)') x
              input#tag.form-control(type='text',placeholder='请输入标签,回车添加标签')
          dl.clearfix.col-md-6
            dt 置顶:
            dd.form-group.checkbox
              label
                input(type='checkbox',ng-model='articleData.state.top',ng-checked='articleData.state.top')
                | 置顶
              label
                input(type='checkbox',ng-model='articleData.state.display',ng-checked='articleData.state.display')
                | 显示
          dl.clearfix.col-md-6
            dt 操作:
            dd
              button.btn.btn-primary.pull-right(type='button',ng-click='submit()')
                i.fa.fa-paper-plane-o
                |  发布

  script.
    angular.module('Kaola', ['Kaola.tools'])
    .controller('ArticlesEditCtrl', ['$scope','db', function ($scope,db) {
      $scope.categoriesList = !{categoriesList};
      $scope.categoryText = '请选择文章类目';
      var categoryId = '';
      $scope.changeCategory = function(id){
        categoryId = id;
        for(var i =0,len =$scope.categoriesList.length;i<len;i++){
          if($scope.categoriesList[i]._id === id){
            $scope.categoryText = $scope.categoriesList[i].name;
          }
        }
      }
      var onlyTag = function(key){
        var status = true;
        for(var i= 0,len=$scope.tag.length;i<len;i++){
          if($scope.tag[i] == key){
            status = false;
          }
        }
        return status;
      }
      $('#tag').keyup(function(e){
        if(e.keyCode === 13){
          var val = $(this).val();
          if(onlyTag(val) && val.replace(/\s/g,'') != ''){
            $scope.$apply(function(){
              $scope.tag.push(val)
            })
            $(this).val('').css({paddingLeft:$(this).siblings('ul').width()})
          }else{
            toastr.error('标签已存在或不可为空')
          }
        }
      })
      $scope.delTag = function(index){
        var arr = [];
        for(var i= 0,len=$scope.tag.length;i<len;i++){
          if(i != index){
            arr.push($scope.tag[i])
          }
        }
        $scope.tag = arr;
        setTimeout(function(){$('#tag').css({paddingLeft:$('#tag').siblings('ul').width()})},100)
      }
      $scope.articleData = !{articleData};
      if($scope.articleData.category && $scope.articleData.category._id) $scope.changeCategory($scope.articleData.category._id);
      $scope.tag = $scope.articleData.tag.split(',');

      setTimeout(function(){$('#tag').css({paddingLeft:$('#tag').siblings('ul').width()})},100);
      $scope.uploadList = $.parseJSON($scope.articleData.imgList || '{}');
      //延时填充数据
      setTimeout(function(){$scope.editor.setMarkdown($scope.articleData.content)},1000)

      $scope.changeType = function(type){
        $scope.articleData.info.callType = parseInt(type);
      }
      $scope.submit = function() {
        $('#add input').each(function () {
          $(this).trigger('focus').trigger('blur');
        })
        if ($('#add .reg-success').size() === 1) {
          if(categoryId === ''){
            toastr.error('请选择文章类目')
            return false
          }
          if($scope.editor.getMarkdown().replace(/\s/g,'').length >= 20){
            $scope.articleData.content = $scope.editor.getMarkdown();
            $scope.articleData.tag = $scope.tag.join(',');
            $scope.articleData.imgList = $scope.uploadList;
            $scope.articleData.category = categoryId;
            $.post('/#{pageInfo.adminDomain}/articlesManage/editArticle',$scope.articleData,function(data){
              var status = data.status.split('::')[0],
              msg = data.status.split('::')[1];
              if(status === 'SUCCESS'){
                toastr.success(msg)
                setTimeout(function(){window.location.href = './'},2000)
              }else{
                toastr.error(msg)
              }
            })
          }else{
            toastr.error('内容不可少于20字')
          }
        }else{
          toastr.error('填写信息不完整')
        }
      }
    }])
                                                                               
