extends ./layout/layout

block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='categoriesManageCtrl')
    div.col-md-12
      div.box.box-default
        div.box-header.with-border
          h5.box-title #{title}
        div.box-body.table-responsive.no-padding
          
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('categoriesManageCtrl',['$scope','$filter',function($scope,$filter){

    }])
