extends ./layout/layout

block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='GoodsManageCtrl')
    div.col-md-12
      div.panel
        div.btn-group
          a.btn.btn-primary.btn-sm(href='./addGood')
            i.fa.fa-plus-square
            |  添加商品
        div.pull-right
          div.input-group
            input#searchInput.form-control.input-sm.pull-right(type='text',name='searchKey',style='width: 200px;', placeholder='请输入需要查询的关键字',value='')
            div.input-group-btn(style='width: auto;')
              button.btn.btn-sm.btn-default(type='button')
                i.fa.fa-search
    div.col-md-12
      div.box.box-solid
        div.box-header.with-border
          h5.box-title #{title}
        div.box-body.table-responsive.no-padding
          table.table.table-hover
            tbody
              tr
                th 文章标题
                th 创建时间
                th 类目
                th 状态
                th 联系方式
                th 推荐
                th 点击
                th 状态
                th 发布人
                th 操作
              tr.datalist(ng-repeat='item in goodList')
                td(ng-bind='item.title')
                td(ng-bind='item.meta.createAt | date: "yy/MM/dd HH:mm"')
                td {{item.category.name}}
                td(ng-switch,on='item.state.sell')
                  span.label.label-success(ng-switch-when='false') 待售
                  span.label.label-warning(ng-switch-when='true') 售出
                td.ellipsis(ng-switch,on='item.info.callType',style='max-width:100px;')
                  i.fa.fa-weixin.text-primary(ng-switch-when='0')
                  i.fa.fa-qq.text-success(ng-switch-when='1')
                  i.fa.fa-phone.text-warning(ng-switch-when='2')
                  |  {{item.info.callWay}}
                td(ng-class='{true:"text-danger"}[item.state.top==true]')
                  i.fa.fa-fw.fa-flag
                td(ng-bind='item.statistics.view')
                td(ng-switch,on='item.state.display')
                  span.label.label-success(ng-switch-when='true') 显示
                  span.label.label-warning(ng-switch-when='false') 隐藏
                td(ng-bind='item.author.nickName')
                td
                  div.btn-group
                    a.btn.btn-primary.btn-xs(href='./editGood?id={{item._id}}', role='button', title='编辑')
                      i.fa.fa-edit
                    a.btn.btn-warning.btn-xs(href='javascript:;', role='button', title='推荐',ng-hide='item.state.top',ng-click='changeTop($index,item._id)')
                      i.fa.fa-thumbs-o-up
                    a.btn.btn-default.btn-xs(href='javascript:;', role='button', title='取消推荐',ng-show='item.state.top',ng-click='changeTop($index,item._id)')
                      i.fa.fa-thumbs-o-down
                    a.btn.btn-default.btn-xs(href='javascript:;', role='button', title='上架',ng-show='item.state.sell',ng-click='changeSell($index,item._id)')
                      i.fa.fa-cloud-upload
                    a.btn.btn-warning.btn-xs(href='javascript:;', role='button', title='下架',ng-hide='item.state.sell',ng-click='changeSell($index,item._id)')
                      i.fa.fa-cloud-download
                    a.btn.btn-default.btn-xs(href='javascript:;', role='button', title='关闭显示',ng-show='item.state.display',ng-click='changeDisplay($index,item._id)')
                      i.fa.fa-eye-slash
                    a.btn.btn-warning.btn-xs(href='javascript:;', role='button', title='显示',ng-hide='item.state.display',ng-click='changeDisplay($index,item._id)')
                      i.fa.fa-eye
                    button.btn.btn-danger.btn-xs(type='button', title='删除',ng-click='del($index,item._id)')
                      i.fa.fa-trash-o
        include ./layout/listFooter
        #dataLoading.overlay.hide
          i.fa.fa-refresh.fa-spin
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('GoodsManageCtrl',['$scope',function($scope){
      $scope.limitList = [10,20,30];
      $scope.limit = $scope.limitList[0];
      $scope.page = !{page};
      $scope.goodList = !{goodList};
      $scope.changeTop = function(index,id){
        $.post('./editGoodTop',{id:id},function(data){
          var status = data.status.split('::')[0],
          msg = data.status.split('::')[1];
          if(status === 'SUCCESS'){
            $scope.$apply(function(){
              $scope.goodList[index].state.top = !$scope.goodList[index].state.top;
            })
          }else{
            console.log(msg);
          }
        })
      }
      $scope.changeSell = function(index,id){
        $.post('./editGoodSell',{id:id},function(data){
          var status = data.status.split('::')[0],
          msg = data.status.split('::')[1];
          if(status === 'SUCCESS'){
            $scope.$apply(function(){
              $scope.goodList[index].state.sell = !$scope.goodList[index].state.sell;
            })
          }else{
            console.log(msg);
          }
        })
      }
      $scope.changeDisplay = function(index,id){
        $.post('./editGoodDisplay',{id:id},function(data){
          var status = data.status.split('::')[0],
          msg = data.status.split('::')[1];
          if(status === 'SUCCESS'){
            $scope.$apply(function(){
              $scope.goodList[index].state.display = !$scope.goodList[index].state.display;
            })
          }else{
            console.log(msg);
          }
        })
      }
      $scope.del = function(index,id){
        if(confirm('是否删除商品<<'+$scope.goodList[index].title+'>>')){
          $.post('./delGood',{id:id},function(data){
            var status = data.status.split('::')[0],
            msg = data.status.split('::')[1];
            if(status === 'SUCCESS'){
              alert(msg)
              window.location.reload()
            }else{
              alert(msg);
            }
          })
        }
      }
    }])
