extends ./layout/layout
block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='GoodsEditCtrl')
    div.col-md-12
      div.box.box-default.big-form.clearfix
        form#add
          dl.clearfix.col-md-12
            dt 标题:
            dd.form-group
              input.form-control(type='text',placeholder='请输入标题',reg='s',err-tip='标题 - 不可输入特殊字符或为空',ng-model='goodData.title')
          dl.clearfix.col-md-4
            dt 价格:
            dd.form-group
              input.form-control(type='text',placeholder='请输入价格',reg='n',err-tip='价格 - 只可输入数字',ng-model='goodData.price')
          dl.clearfix.col-md-4
            dt 位置:
            dd.form-group
              input.form-control(type='text',placeholder='位置',reg='s',err-tip='位置 - 不可输入特殊字符或为空',ng-model='goodData.info.location')
          dl.clearfix.col-md-4
            dt 联系方式:
            dd.form-group
              div.input-group
                div.input-group-btn
                  button.btn.btn-default.dropdown-toggle(type='button',data-toggle='dropdown',aria-haspopup='true',aria-expanded='false')
                    | {{goodData.info.callType | calltype }}&nbsp;
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='javascript:;',ng-click='changeType(0)') 微信
                    li
                      a(href='javascript:;',ng-click='changeType(1)') QQ
                    li
                      a(href='javascript:;',ng-click='changeType(2)') 电话
                input.form-control(type='text',placeholder='请输入联系方式',reg='s',err-tip='联系方式 - 不可输入特殊字符或为空',ng-model='goodData.info.callWay')
          dl.clearfix.col-md-12
            dt 主图:
            dd.form-group
              uploadimg(limit='8',type='add')
          dl.clearfix.col-md-12
            dt 正文:
            dd.form-group
              editormd
          dl.clearfix.col-md-12
            dt 标签:
            dd.tag-group.form-group
              ul
                li.btn.btn-primary.btn-sm(ng-repeat='item in tag track by $index')
                  | {{item}}
                  span(ng-click='delTag($index)') x
              input#tag.form-control(type='text',placeholder='请输入标签,回车添加标签')
          dl.clearfix.col-md-6
            dt 置顶:
            dd.form-group.checkbox
              label
                input(type='checkbox',ng-model='goodData.state.top',ng-checked='goodData.state.top')
                | 置顶
              label
                input(type='checkbox',ng-model='goodData.state.display',ng-checked='goodData.state.display')
                | 显示
              label
                input(type='checkbox',ng-model='goodData.state.sell',ng-checked='goodData.state.sell')
                | 售出
          dl.clearfix.col-md-6
            dt 操作:
            dd
              button.btn.btn-primary.pull-right(type='button',ng-click='submit()')
                i.fa.fa-paper-plane-o
                |  发布
              div#tip.pull-right

  script.
    angular.module('Kaola', ['Kaola.tools'])
    .controller('GoodsEditCtrl', ['$scope','db', function ($scope,db) {
      
      var onlyTag = function(key){
        var status = true;
        for(var i= 0,len=$scope.tag.length;i<len;i++){
          if($scope.tag[i] == key){
            status = false;
          }
        }
        return status;
      }
      $('#tag').keyup(function(e){
        if(e.keyCode === 13){
          var val = $(this).val();
          if(onlyTag(val) && val.replace(/\s/g,'') != ''){
            $scope.$apply(function(){
              $scope.tag.push(val)
            })
            $(this).val('').css({paddingLeft:$(this).siblings('ul').width()})
          }else{
            alert('标签已存在或不可为空')
          }
        }
      })
      $scope.delTag = function(index){
        var arr = [];
        for(var i= 0,len=$scope.tag.length;i<len;i++){
          if(i != index){
            arr.push($scope.tag[i])
          }
        }
        $scope.tag = arr;
        setTimeout(function(){$('#tag').css({paddingLeft:$('#tag').siblings('ul').width()})},100)
      }
      $scope.goodData = !{goodData};

      $scope.tag = $scope.goodData.tag.split(',');
      setTimeout(function(){$('#tag').css({paddingLeft:$('#tag').siblings('ul').width()})},100);
      $scope.uploadList = $.parseJSON($scope.goodData.imgList || '{}');
      //延时填充数据
      setTimeout(function(){$scope.editor.setMarkdown($scope.goodData.content)},1000)

      $scope.changeType = function(type){
        $scope.goodData.info.callType = parseInt(type);
      }
      $scope.submit = function() {
        $('#add input').each(function () {
          $(this).trigger('focus').trigger('blur');
        })
        if ($('#add .reg-success').size() === 4) {
          if($scope.editor.getMarkdown().replace(/\s/g,'').length >= 20){
            $scope.goodData.content = $scope.editor.getMarkdown();
            $scope.goodData.tag = $scope.tag.join(',');
            $scope.goodData.imgList = $scope.uploadList;
            $.post('/#{pageInfo.adminDomain}/goodsManage/editGood',$scope.goodData,function(data){
              var status = data.status.split('::')[0],
              msg = data.status.split('::')[1];
              if(status === 'SUCCESS'){
                $('#tip').append('<div class=\'callout callout-success\'><p>'+msg+'</p></div>');
                setTimeout(function(){
                  window.location.href = './'
                },2000)
              }else{
                $('#tip').append('<div class=\'callout callout-danger\'><p>'+msg+'</p></div>');
                setTimeout(function(){
                  $('#tip').html('');
                },2000)
              }
            })
          }else{
            $('#tip').append('<div class=\'callout callout-danger\'><p>内容不可少于20字</p></div>');
            setTimeout(function(){
              $('#tip').html('');
            },2000)
          }
        }else{
          $('#tip').append('<div class=\'callout callout-danger\'><p>填写信息不完整</p></div>');
          setTimeout(function(){
            $('#tip').html('');
          },2000)
        }
      }
    }])
                                                                               
