extends ./layout/common

block layout
  body.login-page(ng-controller='InitCtrl')
    .login-box
      .login-logo
        a(href='/')
          b Kaola 
          | CMS
      .login-box-body
        p.login-box-msg 请输入相关信息完成初始化
        form#init
          .form-group.has-feedback
            input.form-control(type='email',ng-model='initData.email',placeholder='邮箱',reg='e',err-tip='请输入正确邮箱')
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='text',ng-model='initData.nickName',placeholder='昵称',reg='nick',err-tip='1到12位非特殊字符')
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='text',ng-model='initData.phoneNum',placeholder='电话',reg='m',err-tip='请输入正确的手机号码')
            span.glyphicon.glyphicon-phone.form-control-feedback
          .form-group.has-feedback
            input.form-control#password(type='password',ng-model='initData.password',placeholder='密码',reg='s6-18',err-tip='密码应当为6到18位非非特殊字符',autocomplete='off')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password',name='repassword',placeholder='再次输入密码',regto='password',err-tip='两次密码输入不一致',autocomplete='off')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .form-group.has-feedback#tip
          .form-group.has-feedback
            button.btn.btn-primary.btn-block.btn-flat(type='button',ng-click='submit()')  开始初始化
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('InitCtrl', ['$scope','$http','$filter',function($scope,$http,$filter){
      $scope.initData = {
        'email'      : '494063570@qq.com',//邮箱
        'nickName'   : 'chinakids',//昵称
        'password'   : 'pengyujie',//密码
        'phoneNum'   : '18010494063'//电话
      }
      $scope.submit = function(){
        if($('#init .reg-success').size() === 5){
          console.log($scope.initData)
          $.post('./init',$scope.initData,function(data){
            var status = data.status.split('::')[0],
            msg = data.status.split('::')[1];
            if(status === 'SUCCESS'){
              $('#tip').append('<div class=\'callout callout-success\'><p>'+msg+'</p></div>');
              setTimeout(function(){
                window.location.href = './'
              },2000)
            }else{
              $('#tip').append('<div class=\'callout callout-danger\'><p>'+msg+'</p></div>');
              setTimeout(function(){
                $('#tip').html('');
              },2000)
            }
          })
        }else{
          $('#tip').append('<div class=\'callout callout-danger\'><p>初始化信息不完整</p></div>');
          $scope.reCode();
          setTimeout(function(){
            $('#tip').html('');
          },2000)
        }
      }
    }])
