extends ./layout/common

block layout
  body.login-page(ng-controller='LoginCtrl')
    .login-box
      .login-logo
        a(href='/')
          b Kaola 
          | CMS
      .login-box-body
        p.login-box-msg 系统管理员登陆
        form#login
          .form-group.has-feedback
            input.form-control(type='email',placeholder='请输入邮箱',ng-model='email',reg='e',err-tip='请输入正确邮箱')
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password',placeholder='请输入密码',ng-model='password',reg='s6-18',err-tip='密码应当为6到18位非非特殊字符',autocomplete='off')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .form-group.has-feedback.clearfix
            .col-xs-8(style='margin-left: 0;padding: 0;')
              input.form-control(type='text',placeholder='请输入验证码',ng-model='securityCode',reg='s1-6',err-tip='验证码格式错误')
            .col-xs-4(style='margin-left: 0;padding: 0;overflow:hidden')
              img#code(src='/api/securityCode',ng-src='{{code}}',style='width:100%;height: 34px;border: 1px solid #ccc;border-left:none',title='点击刷新验证码',ng-click='reCode()')
          .form-group.has-feedback#tip
          .form-group.has-feedback
            button.btn.btn-primary.btn-block.btn-flat(type='button',ng-click='submit()')  登 陆
  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('LoginCtrl', ['$scope','$http','$filter',function($scope,$http,$filter){
      $scope.code = '/api/securityCode?'+Date.parse(new Date());
      $scope.reCode = function(){
        $scope.code = '/api/securityCode?'+Date.parse(new Date());
      }
      $scope.email = '';
      $scope.password = '';
      $scope.securityCode = '';
      $scope.submit = function(){
        $('#login input').each(function(){
          $(this).trigger('focus').trigger('blur');
        })
        if($('#login .reg-success').size() === 3){
          //这里的密码混合验证码加密传输,避免重放攻击
          var loginData = {
            email : $scope.email,
            ticket : $filter('md5')(($filter('md5')($scope.password)+$scope.securityCode).toUpperCase())
          }
          $.post('/admin/login',loginData,function(data){
            var status = data.status.split('::')[0],
            msg = data.status.split('::')[1];
            if(status === 'SUCCESS'){
              $('#tip').append('<div class=\'callout callout-success\'><p>'+msg+'</p></div>');
              setTimeout(function(){
                window.location.href = './'
              },2000)
            }else{
              $('#tip').append('<div class=\'callout callout-danger\'><p>'+msg+'</p></div>');
              $scope.reCode();
              setTimeout(function(){
                $('#tip').html('');
              },2000)
            }
          })
        }else{
          $('#tip').append('<div class=\'callout callout-danger\'><p>用户名/密码/验证码信息不完整</p></div>');
          $scope.reCode();
          setTimeout(function(){
            $('#tip').html('');
          },2000)
        }
      }
    }])
