extends ./layout/layout

block content
  include ./layout/breadcrumbNav
  section.content(ng-controller='logsManageCtrl')
    div.col-md-12
      div.panel.clearfix
        include ./layout/search
    div.col-md-12
      div.box.box-default
        div.box-header.with-border
          h5.box-title #{title}
            small  共 #{page.count} 条记录
        div.box-body.table-responsive.no-padding
          table.table.table-hover
            tbody
              tr
                th.col-md-1 类型
                th.col-md-3 记录时间
                th.col-md-6 详情
                th.col-md-2 操作人
              tr.datalist(ng-repeat='item in logsList')
                td(ng-switch,on='item.level')
                  i.fa.fa-circle-o.text-green(ng-switch-when='4')
                  i.fa.fa-circle-o.text-aqua(ng-switch-when='3')
                  i.fa.fa-circle-o.text-yellow(ng-switch-when='2')
                  i.fa.fa-circle-o.text-red(ng-switch-when='1')
                  |  {{item.type}}
                td {{item.meta.createAt | date:'yy/MM/dd HH:mm:ss'}}
                td {{item.content}}
                td(title='{{item.user.email}}') {{item.user.nickName}}

        include ./layout/listFooter
        #dataLoading.overlay.hide
          i.fa.fa-refresh.fa-spin

  script.
    angular.module('Kaola',['Kaola.tools'])
    .controller('logsManageCtrl',['$scope','$filter',function($scope,$filter){
      $scope.limitList = [10,20,30];
      $scope.limit = $scope.limitList[0];
      //- $scope.page = !{page};
      $scope.logsList = !{logsList};
    }])
